body{
    font-family:'游ゴシック',"メイリオ",monospace ;
    text-align: center;
    align-items: center;
}

.body-content {
    text-align: center;
  }

.logoutButton{
    border: none;  /* 枠線を消す */
    outline: none; /* クリックしたときに表示される枠線を消す */
    background: transparent; /* 背景の灰色を消す */
    display: block;
    width: 100%;
    text-decoration: none;
    color: #555;
    padding-bottom: 5px;
    font-size: 16px;
    }

.loginInput{
    margin: 15px;
}

.titleText{
    font-family:"Hiragino Kaku Gothic ProN" ;
    font: 18px gray;
    font-weight: bold;
}

/* メニュー ======================= */
.menuBgSP{
    width:100%;
    /* padding:  10px; */
    background-color: #fff0f5;
    border-bottom: solid #ff1493;
    vertical-align: bottom;
    /* margin-bottom: 20px; */
    padding: 3px;
    /* margin: 3px; */
    display: flex;
}


/* =============================== */