body{
    font-family:'游ゴシック',"メイリオ",monospace ;
    text-align: center;
    align-items: center;
    width:100%
}

.body-content {
    text-align: center;
    align-items: center;
    width:100%;
  }

.logoutButton{
    border: none;  /* 枠線を消す */
    outline: none; /* クリックしたときに表示される枠線を消す */
    background: transparent; /* 背景の灰色を消す */
    display: block;
    width: 100%;
    text-decoration: none;
    color: #555;
    padding-bottom: 5px;
    font-size: 16px;
    }

.loginInput{
    margin: 15px;
}

.titleText{
    font-family:"Hiragino Kaku Gothic ProN" ;
    font: 18px gray;
    font-weight: bold;
}

/* ==ログインページ======================= */
.topLogo{
    /* text-align: center; */
    margin: 20px;
}

.btnWrapGoogle{
  max-width: 250px;
  margin: 20px auto;
}

.btnImageGoogle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    position: relative;
    background: #ffc0cb;
    border: 1px solid #ffc0cb;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 0 auto;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1.3;
    text-align: left;
    text-decoration: none;
    transition-duration: 0.3s;
}

.btnImageGoogle:hover{
    color: #fff;
    background: #ff4500;
}
/* ===================================== */

/* ==メニューデザイン======================= */
nav {
    width: 95%;
    padding-top: 1px;
    /* margin: 0 auto; */
    justify-content: center;
}
nav ul{
    display: flex;
    justify-content: center;
    /* margin: 0 auto; */
    /* padding: 5px ; */
    /* width: 80%; */
    /* text-align: center; */
    }

nav li{
    display: table-cell;
    min-width: 20%;
    }

nav a{
    display: block;
    width: 100%;
    text-decoration: none;
    color: #555;
    padding-bottom: 0;
    padding-top: 3px;
    margin: 0;
    }

nav li.current{
    border-bottom: 3px solid #92D050;
    }

nav li:hover{
    color: #E7DA66;
    /* font-weight: bold;
    font-size: 24px; */
    /* font:#ff1493; */
    border-bottom: 5px solid #ff1493;
    }

.menuBg{
    width:100%;
    padding:  10px;
    background-color: #fff0f5;
    border-bottom: solid #ff1493;
    vertical-align: bottom;
    /* margin-bottom: 20px; */
    /* padding: 1px; */
    /* margin: 3px; */
}
/* ===================================== */

/* ==TOPページ======================= */
.topFaceContainer{
    width:98%;
    /* padding: 10px,10px; */
    /* display: inline-block; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(128,128,128,0.5);
    border-radius:15px;
    margin:0 auto;
    /* opacity: 0.5; */
    /* overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch; */
  }

.ok{
    padding: 15px;
}

.topFaceDate{
    /* overflow: hidden; */
    position: relative;
    /* left: -50%; */
    float:left;
    /* display: inline-block; */
    /* max-width: 80% ; */
    min-width: 20%;
    margin: 8px 6px;
    flex-basis: 25%;
  }

.topFaceImage{
    width: auto;
    height: 70px;
    border-radius: 50%;
    /* margin: 10px; */
}

.topFaceName{
    font-size: 12px;
    color:#ff1493;
}

.LogDispTime{
    width: 40px;
}


.tableTime{
  width: 200px;
  border:solid;
}

/* なむログ表示 */
.logBody{
    width: 100%;
    margin: 0 auto;
}

.logUl{
    width: 100%;
    list-style: none;
    display: inline-block;
    text-align: left;
    font-size: 10px;
}

.list-row {
    display: flex;
    align-items: center;
    /* padding-bottom: 4px; */
  }

.span-head01 {
    display: flex;
    float: left;
    height: 20px;
    min-width:210px;
    text-align: left;
    vertical-align: middle;
}

.span-head02 {
    /* display: block; */
    float: left;
    margin-left: 10px;
    min-width:100px;
    text-align: left;
  }

.span-head03 {
    float: left;
    margin-left: 30px;
    min-width:100px;
    text-align: left;
}

.span-head04{
    float: left;
    margin-left: 10px;
    min-width:100px;
    text-align: left;
}

.namulogImg{
    width: 40px;
    height: auto;
}

.listLi{
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}

.namilogHr{
    width: 500px;
    border-style: dotted;
}
/* ===================================== */


/* ==アイテム選択画面（NamuItemChoice）======================= */
.itemWrap{
    border: solid 1px #ffc0cb;
    border-radius: 15px;
    margin: 5px;
    padding:10px;
    background-color: #fffaf0;
}

.itemWrap input[type="radio"]{
    display: none;
}

.itemWrap label img{
    margin: 0 10px;
    /* padding: 5px; */
}

/* 未選択のときに色を薄く */
.itemWrap input[type="radio"] + label img{
    opacity:0.6;
    width: 80px;
}

/* 選択したときに色を濃くする */
.itemWrap input[type="radio"]:checked + label img{
    opacity:1;
    border:solid #ff1493 2px;
    border-radius: 15px;
    width: 100px;
}


.itemTitle{
    font-size: 20px;
    /* margin-bottom: 2px; */
}
/* ===================================== */

/* ==アイテム確認モーダルのなか======================= */
.modalContainer{
    background-color: WHITE;
    border-radius: 30px;
    border: solid;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    margin-top: 200px;
}

.itemCheckImg{
    width: 130px;
    height: auto;
    border: solid #ff1493 2px;
    border-radius: 5px;
}

.itemCheckItem{
    margin: 5px;
}

.btnBack{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 40px;
    position: relative;
    background: #d3d3d3;
    border: 1px solid #d3d3d3;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 0 auto;
    margin: 0 auto;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1.3;
    text-align: left;
    text-decoration: none;
    transition-duration: 0.3s;
}

.btnBack:hover{
    color: #fff;
    background: #ff4500;
}
/* ===================================== */


/* ==なむなむ後の遷移アニメーション用======================= */

.wrap{
    position: relative;/*相対配置*/
  }
  
  .kemuriImage{
    width:100%;
  }
  
  .arigato{
    position: absolute;
    color: white;/*文字は白に*/
    font-weight: bold; /*太字に*/
    font-size: 2em;/*サイズ2倍*/
    font-family :Quicksand, sans-serif;/*Google Font*/
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
  }


  
  @keyframes fadeIn {
    to { opacity: 1; }
  }
  .c1, .c2, .c3, .c4, .c5, .c6 {
    opacity: 0;
    animation: 2.8s linear forwards fadeIn;
  }
  .c1 { animation-delay: 1.5s; }
  .c2 { animation-delay: 1.8s; }
  .c3 { animation-delay: 2.1s; }
  .c4 { animation-delay: 2.4s; }
  .c5 { animation-delay: 2.7s; }
  .c6 { animation-delay: 3.0s; }

/* ===================================== */


/* ==登録画面======================= */
.regiForm{
    margin: 0 auto;
    text-align: left;
    width: 80%;
}

.regiInput{
    display: none;
    margin: 15px;
}

.regiFace{
    border: solid 2px gray;
    border-radius: 5px;
    padding:2px;
    background-color:gray


}

/* ===================================== */


/* ==******======================= */

/* ===================================== */

/* ==******======================= */

/* ===================================== */
