body{
    font-family:'游ゴシック',"メイリオ",monospace ;
    text-align: center;
    align-items: center;
}

.body-content {
    text-align: center;
  }

.logoutButton{
    border: none;  /* 枠線を消す */
    outline: none; /* クリックしたときに表示される枠線を消す */
    background: transparent; /* 背景の灰色を消す */
    display: block;
    width: 100%;
    text-decoration: none;
    color: #555;
    padding-bottom: 5px;
    font-size: 16px;
    }

.loginInput{
    margin: 15px;
}

.titleText{
    font-family:"Hiragino Kaku Gothic ProN" ;
    font: 18px gray;
    font-weight: bold;
}

/* ==ログインページ======================= */
.topLogo{
    /* text-align: center; */
    margin: 20px;
}

.btnWrapGoogle{
  max-width: 250px;
  margin: 20px auto;
}

.btnImageGoogle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    position: relative;
    background: #ffc0cb;
    border: 1px solid #ffc0cb;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 0 auto;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1.3;
    text-align: left;
    text-decoration: none;
    transition-duration: 0.3s;
}

.btnImageGoogle:hover{
    color: #fff;
    background: #ff4500;
}
/* ===================================== */

/* ==メニューデザイン======================= */
nav {
    padding-top: 1px;
}
nav ul{
    display: table;
    margin: 5px auto;
    /* padding: 5px ; */
    width: 80%;
    text-align: center;
    }

nav li{
    display: table-cell;
    min-width: 50px;
    }

nav a{
    display: block;
    width: 100%;
    text-decoration: none;
    color: #555;
    padding-bottom: 0;
    padding-top: 3px;
    margin: 0;
    }

nav li.current{
    border-bottom: 3px solid #92D050;
    }

nav li:hover{
    color: #E7DA66;
    /* font-weight: bold;
    font-size: 24px; */
    /* font:#ff1493; */
    border-bottom: 5px solid #ff1493;
    }

.menuBg{
    background-color: #fff0f5;
    border-bottom: solid #ff1493;
    vertical-align: bottom;
    /* margin-bottom: 20px; */
    /* padding: 1px; */
    /* margin: 3px; */
}
/* ===================================== */

/* ==TOPページ======================= */
.topFaceContainer{
    /* text-align: center; */
    /* display: flex; */
    width: 90%;
    position: relative;
    left: 50%
    
    /* align-items: center; */
    /* margin: 0 auto; */
    /* justify-content: center; */
}

.topFaceDate{
    /* overflow: hidden; */
    position: relative;
    left: -50%;
    float:left;
    /* display: inline-block; */
    /* max-width: 80% ; */
    margin: 10px 15px;
}

.topFaceImage{
    width: auto;
    height: 100px;
    border-radius: 50%;
    /* margin: 10px; */
}

.topFaceName{
    font-size: 14px;
    color:#ff1493;
}

/* ===================================== */


/* ==アイテム選択画面（NamuItemChoice）======================= */
.itemWrap{
    border: solid 1px #ffc0cb;
    border-radius: 15px;
    margin: 5px;
    padding:10px;
    background-color: #fffaf0;
}

.itemWrap input[type="radio"]{
    display: none;
}

.itemWrap label img{
    margin: 0 10px;
    /* padding: 5px; */
}

/* 未選択のときに色を薄く */
.itemWrap input[type="radio"] + label img{
    opacity:0.6;
    width: 80px;
}

/* 選択したときに色を濃くする */
.itemWrap input[type="radio"]:checked + label img{
    opacity:1;
    border:solid #ff1493 2px;
    border-radius: 15px;
    width: 100px;
}


.itemTitle{
    font-size: 20px;
    /* margin-bottom: 2px; */
}
/* ===================================== */



/* ==******======================= */

/* ===================================== */
