body{
    font-family:"Meiryo",monospace ;
    text-align: center;
}

hr{
	height: 3px;
    background: #ff1493;
}


.body-content {
    text-align: center;
  }

nav ul{
    display: table;
    margin: 20px auto;
    padding: 0 ;
    width: 80%;
    text-align: center;
    }

nav li{
    display: table-cell;
    min-width: 50px;
    }

nav a{
    display: block;
    width: 100%;
    text-decoration: none;
    color: #555;
    padding-bottom: 5px;
    }

nav li.current{
    border-bottom: 3px solid #92D050;
    }

nav li:hover{
    color: #E7DA66;
    font-weight: bold;
    font-size: 24px;
    font:#ff1493;
    border-bottom: 3px solid #ff1493;
    }

.logoutButton{
    border: none;  /* 枠線を消す */
    outline: none; /* クリックしたときに表示される枠線を消す */
    background: transparent; /* 背景の灰色を消す */
    display: block;
    width: 100%;
    text-decoration: none;
    color: #555;
    padding-bottom: 5px;
    font-size: 16px;
    }


.loginInput{
    margin: 15px;
}

.titleText{
    font-family:"Hiragino Kaku Gothic ProN" ;
    font: 18px gray;
    font-weight: bold;
}

/* ==ログインページ======================= */
.topLogo{
    /* text-align: center; */
    margin: 20px;
}

.btnWrapGoogle{
  max-width: 250px;
  margin: 20px auto;
}

.btnImageGoogle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    position: relative;
    background: #ffc0cb;
    border: 1px solid #ffc0cb;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 0 45px 0 25px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1.3;
    text-align: left;
    text-decoration: none;
    transition-duration: 0.3s;
}

.btnImageGoogle:hover{
    color: #fff;
    background: #ff4500;
}
/* ===================================== */


/* ==******======================= */
/* ===================================== */