.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contents{
  vertical-align: bottom;
  align-items: bottom;
  width:100%;
  text-align: center;
  background-color:#fff8dc ;
  border-bottom: solid #ff1493;
  display: table;
  /* position: relative; */
}

.contentsInner{
  /* position: absolute; */
  /* bottom: 0%; */
  margin:0 auto;
  /* display: inline-block; */
  vertical-align:bottom;
  width: 95%;
  display: table-cell;
  /* align-items: center; */
  /* justify-content: center ; */
  /* transform: translateY(-50%) translateX(-50%); */
  /* -webkit- transform: translateY(-50%) translateX(-50%); */
}


/* 仏壇写真＝＝＝＝＝＝＝＝＝ */
.topFaceContainer{
  display: flex;
  justify-content: center;
  background-color: rgb(128,128,128,0.5);
  border-radius:15px;
  /* margin:10px auto; */
  /* opacity: 0.5; */
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝ */

/* なむなむボタン＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
.btnWrapNamu{
  max-width: 250px;
  margin: 10px auto;
}

.btnImageNamu{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  position: relative;
  background: #ffc0cb;
  border: 1px solid #ffc0cb;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 0 auto;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1.3;
  text-align: left;
  text-decoration: none;
  transition-duration: 0.3s;
}

.btnImageNamu:hover{
  color: #fff;
  background: #ff4500;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

.namuLogArea{
  width: 100%;
}

.namuLogData{
margin: 3px auto;
height: 300px;
width: 80%;
overflow: auto;
}